@font-face {
    font-family: 'SF UI Display Light';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Light'), url('./fonts/sf-ui-display-light-58646b33e0551.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Semibold'), url('./fonts/sf-ui-display-semibold-58646eddcae92.woff') format('woff');
}

@font-face {
    font-family: 'Audiowide';
    src: url('./fonts/Audiowide-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat Light';
    src: url('./fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('./fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat SemiBold';
    src: url('./fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('./fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Wallpoet';
    src: url('./fonts/Wallpoet-Regular.ttf') format('truetype');
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}
